{sub_dirs, ["rel","apps/zraft"]}.
{lib_dirs, ["apps/zraft"]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}, {dir, "../../doc"}]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps, [
    {node_package, ".*", {git, "git://github.com/basho/node_package.git", {branch, "develop"}}},
    {zraft_lib, ".*",{git, "git://github.com/dreyk/zraft_lib.git", {branch, "master"}}},
    {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {tag, "2.0.1"}}}
]}.
