%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sys, [
    {lib_dirs, ["../deps"]},
    {rel, "zraft", "0.5.0",
        [
            kernel,
            stdlib,
            sasl,
            public_key,
            ssl,
            crypto,
            runtime_tools,
            cuttlefish,
            lager,
            zraft_lib
        ]},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
        ]},
    {boot_rel, "zraft"},
    {profile, embedded},
    {excl_sys_filters, ["^bin/.*",
        "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/doc",
        "^erts.*/man"]},
    {excl_archive_filters, [".*"]},
    {app, cuttlefish, [{incl_cond, include}]},
    {app, lager, [{incl_cond, include}]},
    {app, zraft_lib, [{incl_cond, include}]}
]}.


{target_dir, "zraft"}.

{overlay_vars, "vars.config"}.

{overlay, [
    {mkdir, "./etc"},
    {mkdir, "./log"},

    %% Copy base files for starting and interacting w/ node
    {copy, "../deps/node_package/priv/base/erl",
        "{{erts_vsn}}/bin/erl"},
    {copy, "../deps/node_package/priv/base/nodetool",
        "{{erts_vsn}}/bin/nodetool"},
    {copy, "../deps/cuttlefish/cuttlefish",
        "{{erts_vsn}}/bin/cuttlefish"},
    {template, "../deps/node_package/priv/base/runner",
        "bin/rnis"},
    {template, "../deps/node_package/priv/base/env.sh",
        "lib/env.sh"},
    {template, "../deps/node_package/priv/base/app_epath.sh",
        "lib/app_epath.sh"},


    {template, "../deps/zraft_lib/priv/zraft_lib.schema", "lib/10-zraft_lib.schema"},
    {template, "../deps/cuttlefish/priv/erlang_vm.schema", "lib/11-erlang_vm.schema"},

    %% Copy additional bin scripts
    {template, "files/zraft-admin", "bin/zraft-admin"},
    {template, "advanced.config", "etc/advanced.config"}

]}.
